################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/Wibble.DependencyInjection.KeyedServices/bin
/Wibble.DependencyInjection.KeyedServices/obj
/Wibble.DependencyInjection.KeyedServices.UnitTests/bin/Debug/netcoreapp2.1
/Wibble.DependencyInjection.KeyedServices.UnitTests/obj
/Wibble.DependencyInjection.KeyedServices.UnitTests/bin/Release/netcoreapp2.1
*.xml
